body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
	background-color: #1b1b1c;
	color: #fff;
	orphans: 3;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.wrapper {
	width: 88%;
	margin: 0 auto;
}

.add-movie {
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0;
	background-color: #000;
	color: #26f71b;
	font-weight: bold;
	font-size: 4em;
}

.add-movie:hover {
	opacity: .6;
	border: 1px solid #26f71b;
}

.remove-movie {
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0;
	background-color: #000;
	color: #ff0873;
	font-weight: bold;
	font-size: 5em;
}

.remove-movie:hover {
	opacity: .6;
	border: 1px solid #ff0873;
}

.movie-front {
	width: 120px;
	height: 180px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 20px;
	border: 1px solid #353538;
	box-shadow: 1px 2px 2px #151516;
	background-repeat: no-repeat;
  	background-size: cover;

}

.movie-front:active {
	margin-top: 18px;
	margin-bottom: 17px;
}

.app-name {
	position: fixed;
	top: 0px;
	left: 0;
	font-size: 1.2em;
	text-align: center;
	width: 100%;
	background-color: #1b1b1c;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 14px;
	z-index: 1;
}

.login-page-title {
	width: 100%;
	font-size: 3em;
	margin: 200px auto 30px auto;
	text-align: center;
}

.field-name {
	margin-top: 10px;
	margin-bottom: 5px;
}

.login-box {
	margin: 0 auto;
	width: 300px;
	padding: 0;
}

.login-field {
	width: 98.5%;
	height: 30px;
	border-radius: 3px;
	text-indent: 8px;
}

.submitForm {
	width: 100%;
	font-size: 1.2em;
	margin-top: 25px;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
	background-color: #4286f4;
	border: none;
	border-radius: 30px;
	color: #fff;
	box-shadow: 0 2px 5px #000;
	outline: none;
}

.submitForm:hover {
	background-color: #3a76d8;
	box-shadow: none;
}

.submitForm:active {
	margin-top: 27px;
	outline: none;
}

.movie-page {
	display: flex;
	flex-direction: row;
	margin-top: 150px;
	margin-left: 20%;
	margin-right: 20%;
	color: #d2d5db;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s; 
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s; 
    animation: fadein 1s;
}

.movie-page h1 {
	margin-top: -5px;
	margin-bottom: 15px;
	font-size: 3.5em;
	line-height: 1em;
}

.movie-page h2 {
	font-size: 1em;
	margin-bottom: 5px;
}

.movie-page h3 {
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 20px;
}

.overview {
	margin-top: 0;
}

.rating {
	font-style: italic;
	font-weight: bold;
	font-size: 1.3em;
}

.movie-poster {
	width: 300px;
	height: 450px;
	border: 1px solid #515154;
	box-shadow: 1px 3px 3px #151516;
}

.movie-info {
	margin-left: 30px;
	margin-top: 1px;
}

.search-results {
	display: flex;
	width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
}

.search-results::-webkit-scrollbar { 
    display: none; 
}

.movie-list {
	display: flex;
	width: 88%;
	margin: 0 auto;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.shadow {
	box-shadow: inset -8px 0 10px #161616;
}

.movie-list::-webkit-scrollbar { 
    display: none; 
}

.movie-link {
	font-size: .7em;
	text-align: center;
	color: #dee1e5;
	width: 100%;
	text-decoration: none;
	height: 500%;
}

.movie-link:hover {
	text-decoration: underline;
}

.search-input {
	width: 100%;
	height: 60px;
	font-size: 1.4em;
	background-color: #38383a;
	position: fixed;
	left: 0;
	top: 50px;
	text-align: center;
	border: none;
	z-index: 1;
	color: #dee1e5;
}

::-webkit-input-placeholder {
	color: transparent;
  	text-shadow: 0 0 0 #dee1e5;
  }

.search-input:focus {
	outline: none;
}

.submit-search {
	visibility: hidden;
}

.logout {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #38383a;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 20px;
	text-transform: capitalize;
	z-index: 1;
}

.logout:hover {
	background-color: #4286f4;
}

.search-container {
	margin-top: 100px;
	margin-bottom: 330px;
}

.list-container {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #161616;
	width: 100%;
	border-top: 1px solid #353538;
	padding: 1.5% 0;
	height: 250px;
}

.list-select {
	font-size: 1.2em;
	font-weight: bold;
	color: #a8a8ad;
	background-color: #161616;
	border: none;
	border-bottom: 1px solid #353538;
	margin-bottom: 5px;
	margin-left: 6%;
}

.list-select:focus {
	outline: none;
}

.movie-cover {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.overlay {
	background-color: rgba(0,0,0,.84);
	height: 100%;
	width:100%;
}

.back-button {
	position: fixed;
	top: 0px;
	left: 15px;
	color: #dee1e5;
	opacity: 0.9;
	font-size: 4em;
	font-weight: bold;
	border: none;
	z-index: 1;
	text-decoration: none;
	margin-top: -7px;
}

.back-button:hover {
	color: #fff;
}